body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;

}

#background-photo {
    position: absolute;
    z-index: -1;
    height: 200%;
    width: 100%;
}

.contact-form{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #FFFFFF;
    width: 55%;
    padding-bottom: 5%;
    box-shadow: 5px 1px 10px 1px #525252;

}

#contact-us {
    font-size: 3.5rem;
    margin-top: 10%;
}

.form {
    display: flex;
    flex-direction: column;
    width: 70%;
    border: 0px;
}

.hr {
    border-top: 1.5px solid black;
    width: 100%;
}

#bottom-hr {
    margin-bottom: 10%;
}

.form input, .form textarea {
    border: 0px;
    height: 3em;
    font-size: 1em;
    background-color: #FFFFFF;
    margin-left: 0.5%;

}

.form textarea {
    height: 8em;
    font-size: 1.3em;
    /* padding-bottom: 10%; */
}

.button {
    align-items: center; 
}

#submit-button {
    background-color: #FFFFFF;
    color: black;
    border: 2px solid #555555;
    width: 33.33%;
    padding: 5%;
}

#freepix-credit {
    margin-top: 10%;
}

.bottom-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #292B32;
    color: white;
    width: 65%;
    padding-right: 5%;
    padding-left: 5%;
    height: 12rem;
}