body {
    height: 90vh;
    display: flex;
    flex-direction: row;
    background-color: #DEE0E6;
    margin: 0;
}

#background-image{
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    opacity: 0.4;
}

.left-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    border-right-style: solid;
    font-size: 1.5em;
    width: 6%;
    margin-left: 2%;
    padding-bottom: 5%;
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 12%;
    width: 100%;
    margin-bottom: 1%;
    margin-right: 5%;
    align-items: center;
    border-bottom-style: solid;   
}

.top-bar h2 {
    margin-left: 5%;
    font-size: 2em;
}

.top-bar-buttons {
    display: flex;
    justify-content: space-between;
    width: 40%;
}

#contact {
    border: 2px solid black;
    /* width: 10%;
    padding-top: 2%;
    padding-bottom: 2%; */
}